@import '../../../styles/application.scss';

.footer {
  padding: 50px 0 40px;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: fit-content;
  font-size: 0.7rem;

  > .content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    > .left {
      display: flex;
      align-items: center;
    }

    > .center {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    > .right {
      display: flex;
      gap: 6px;
    }
  }
}
