.users {
  > .card {
    > .users-table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;

      > tbody > tr > td,
      > thead > tr > td {
        text-align: left;
        padding: 8px;
        &.user-types {
          display: flex;
          justify-content: center;
        }
      }
      > thead > tr > td {
        font-weight: bold;
      }

      > tbody {
        > tr {
          > .user-types {
            > * {
              cursor: pointer;
              &.on {
                fill: var(--primary-color);
                &:hover {
                  fill: var(--primary-color-hover);
                }
              }
              &.off {
                fill: #8c8e95;
                &:hover {
                  fill: #63656a;
                }
              }
            }
          }
        }
      }
    }
  }
}
