.main-resource-card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;

  @media screen and (min-width: 450px) {
    padding: 26px 34px 34px 34px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .info-card {
    display: flex;
    padding: 0;
    box-shadow: none;
  }

  > .resource-header {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 8px;

    .top-header-row {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      > * {
        display: flex;
      }
      > .top-left-header {
        flex: 1 1 auto;
        overflow: hidden;
        font-size: 19px;
        font-weight: bold;
        align-items: center;
        gap: 10px;
        > .type-pill {
          border-radius: 16px;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          pointer-events: none;
          padding: 2px 10px;
          width: 100%;
          height: fit-content;
          max-width: -moz-fit-content;
          max-width: fit-content;
          color: white;
        }
      }
      > .top-right-header {
        display: flex;
        flex: 1 0 auto;
        gap: 12px;
        justify-content: flex-end;

        > * {
          display: flex;
          align-items: center;
          gap: 2px;
          font-size: 15px;
          cursor: pointer;
          color: #8c8e95;
          > svg,
          * > svg {
            width: 24px;
            height: 24px;
          }
        }

        > .more-button > .hover-element > .more {
          font-size: 20px;
          padding-bottom: -11px;
          padding: 0 8px 11px 8px;
        }

        > .like {
          > svg {
            width: 21px;
            height: 21px;
          }

          &.disabled {
            pointer-events: none;
            cursor: auto;
            color: #d0d1db;
          }
        }

        > .liked {
          &:not(:hover) > svg {
            color: #fc0071;
          }
          &:hover > * {
            color: #ce005d;
          }
        }

        > .like:hover {
          color: #ce005d;
        }

        .bookmarked {
          color: #00bd7e;
        }

        > .bookmark:hover {
          color: #009966;
        }

        // > .share:hover {
        //   color: $primary-color;
        // }

        > .edit-save {
          width: 40px;
          > * {
            width: 100%;
            > svg,
            * > svg {
              width: 18px;
              height: 18px;
            }
          }
          > .primary-button {
            display: grid;
            grid-template-columns: 1fr;
            > div {
              grid-row-start: 1;
              grid-column-start: 1;
              display: flex;

              &.loading {
                display: flex;
                visibility: visible;
                width: 100%;
                align-items: center;
                justify-content: center;
              }
            }

            &.loading {
              pointer-events: none;
            }
          }
        }
      }
    }

    > .title {
      &,
      > .textarea-container > textarea {
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;
      }
    }

    .tags {
      gap: 5px;
      > a > .tag {
        font-size: 12px;
      }
    }
  }

  > .resource-header > .input-text-field,
  > .input-text-field {
    > .input-container {
      padding: 0;
      box-shadow: none;
      // animation: none;
    }
  }

  > .image-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;

    & > .loading,
    > a > .loading {
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    > .image,
    > a > .image {
      cursor: pointer;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    > .image-credits,
    > a > .image-credits {
      bottom: 9px;
      padding: 2px 7px;
      border-radius: 6px;
      right: 5px;
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      gap: 3px;
      > a:hover {
        text-decoration: underline;
      }
    }

    > .image-actions {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      padding: 10px;
      display: flex;
      gap: 6px;
      > * {
        &.disabled {
          pointer-events: none;
        }
      }

      // > .change-image-button {
      // }

      > .search-image-button {
        > .content > svg {
          padding: 3px;
        }
        &.highlight {
          > .content > svg {
            animation: color-change 1.5s ease 0.5s 6;

            @keyframes color-change {
              50% {
                color: white;
                background-color: #1a6aff;
                border: 1px solid #3179ff;
              }
            }
          }
        }
      }
    }
  }

  > .description {
    font-size: 14px;
    line-height: 20px;
  }

  .resource-footer {
    display: flex;
    justify-content: flex-end;
    > div {
      width: 40px;
      > svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
