@import '../../../../styles/application.scss';

.header {
  height: 60px;
  padding: 0 100px;
  flex-shrink: 0;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);

  > .content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    > .left {
      display: flex;
      align-items: center;
    }

    > .center {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    > .right {
      display: flex;
      gap: 6px;

      > .add-menu > .hover-element {
        > .add-icon {
          max-height: 36px;
          > g > path {
            fill: var(--primary-color);
          }
        }
        &:hover > .add-icon > g > path {
          fill: var(--primary-color-active);
        }
      }

      > .avatar-menu {
        > .hover-element {
          > .avatar {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            &:hover {
              box-shadow: 0px 1px 2px 0px rgb(60 64 67);
              opacity: 0.9;
            }
          }
        }
        > .menu > .content > * {
          > .profile > .avatar {
            border-radius: 50%;
            height: 28px;
            width: 28px;
          }
        }
      }
      > .dev-mode {
        display: flex;
        align-items: center;
        gap: 10px;
        > .label {
          font-size: 13px;
          color: #7e7e7e;
        }
      }
    }
  }
}
