@import '../../../styles/main.scss';

// html {
//   width: 100%;
//   height: 100%;
// }

// body {
//   width: 100%;
//   height: 100%;
//   margin: 0;
// }

// #root {
//   width: 100%;
//   height: 100%;
// }
.simple-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  max-width: None;
  background-color: var(--color-light-gray-14);

  > .minimalistic-header {
    @media screen and (max-width: 675px) {
      padding: 0 25px;
      > .content {
        gap: 15px;
      }
    }
  }

  > .header {
    height: 60px;
    padding: 0 100px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);

    > .content {
      height: 100%;
      width: 100%;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .left {
        display: flex;
      }

      > .right {
        display: flex;

        > .dev-mode {
          display: flex;
          align-items: center;
          gap: 10px;
          > .label {
            font-size: 13px;
            color: #7e7e7e;
          }
        }
      }
    }
  }
  > .side-menu {
    width: 160px;
    height: 100%;
    background: #1d6bbf;

    .logo {
      height: 32px;
      line-height: 32px;
      margin: 16px;
      color: white;
      text-align: center;
    }
  }

  > .content {
    height: 100%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > .footer {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
div,
pre {
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0 10px;
  font-style: italic;
}
